<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑信息</title>
    <link rel="stylesheet" href="__PUBLIC__/css/student_stuedit.css" />
</head>

<body class="all">
    <div class="A">
        <div class="link"><a href="{:U('Index/logout')}">退出登录</a></div>
        <div class="link"><a href="__CONTROLLER__/index.html">返回</a></div>
        <div class="link"><a href="__MODULE__/change/index">修改密码</a></div>
    </div>
    <div class="B"></div>

    <form method="post" action="__MODULE__/Student/stuedit_edit">
        <div class="title">编辑信息</div>
        <table cellspacing="0" class="table">
            <volist name="data" id="data">
            <tr>
                <td class="td1">学号</td>
                <td class="td2"><input type="text" name="StuNo" value="{$data.stuno}" disabled="disabled"></td>
                <td class="td1">姓名</td>
                <td class="td2"><input type="text" name="StuName" value="{$data.stuname}" disabled="disabled"></td>
            </tr>
            <tr>
                <td class="td1">专业/班级 编号</td>
                <td class="td2"><input type="text" name="ClassNo" value="{$data.classno}" disabled="disabled"></td>
                <td class="td1">专业/班级 名称</td>
                <td class="td2"><input type="text" name="ClassName" value="{$data.classname}" disabled="disabled"></td>
            </tr>
            <tr> 
                <td class="td1">性别</td>
                <td class="td2"><input type="text" name="Sex" value="{$data.sex}" disabled="disabled"></td>
                <td class="td1">初始密码</td>
                <td class="td2"><input type="text" name="Pwd" value="{$data.pwd}"></td>
               
            </tr>
           </volist>
        </table>

        <div class="submit">
            <input type="submit" name="Submit" value="提交" class="button">
        </div>
    </form>

</body>
</html>
